{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="m-2">
  <h2 align="center">
    Info21 v2.0 Web
  </h2>
  <p>
    Проект представляет собой web-интерфейс для проекта SQL2 выполненный на языке Python.
  </p>
  <p>
    Приложение поддерживает осуществление CRUD-операций, импорт/экспорт таблиц и логирование действий пользователя.
  </p>
  <p>
    Приложение упаковано в docker-контейнеры.
  </p>
  <p>
    Проект выполнен учениками Школы 21 fbillye и kwukong.
  </p>
</div>
{% endblock %}